{{define "head"}}
    <style>

        html {
            background: linear-gradient(to right, #669999 0%, #666699 100%);
        }

        .centered{
            border-radius: 15px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 12vmin;
            user-select: none;
            font-size: 18px;
            background-color: #00ff99;
        }

        .centered:hover{
            background-color:#00ff33;
        }

        div {
            padding: 20px;
            color: black;
            text-align: center;
        }

    </style>
{{end}}


{{define "content"}}
    <div class="centered" onclick="{ console.log('clicked') }" >Login</div>
{{end}}
